
body {
    font-family: 'Roboto Slab', serif !important;
    color: #fff;
    background-color: #080808;

}
.bg-primary {
    background-color: #fff;
}
h1{
    font-weight: 300;
    font-size: 42px;
}
h4 {
    font-weight: 100;
    font-size: 26px;
    text-transform: ;
}
h2,
.h2 {
  font-weight: 300;
  margin: 20px 0 20px 0;
}


h3 {
  font-weight: 100;
  margin-top: -26px;

}

hr {
  margin-top: 23px;
  margin-bottom: 48px;
  margin-left: 282px;
  max-width: 22px;
  border-top: 1px solid #eee;
}

.show_mobile hr{
margin-top: 23px;
margin-bottom: 48px;
margin-left: auto;
max-width: 22px;
border-top: 1px solid #eee;
}

.btn {
    margin-top: 2px;
    padding: 5px 7px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-family: 'Ubuntu', serif !important;
    letter-spacing: 2px;
}
.btn-default {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    border-color: #ccc;
    border-radius: 3px;
    background: transparent;
}
p {
  font-weight: 300;
  font-size: 16px;
}

section{
    padding: 0px 0px 0px 0px;
}



.video-container {
  position: relative;
  overflow-x: hidden;

  height: 50%;
}
.overlay-desc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 35rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 100%;
  height: 100%;
    overflow-y: hidden;
}
video {
  width: 100%;
  height: auto;
  opacity: 0.4;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}



/* footer */
footer {
    background-color: #262626;
    color: white;
    padding: 22px;
}
footer a {
    color: #fff;
}
footer a:link, a:visited {
    text-decoration: none;
    display: inline-block;
}

footer a:hover, a:active {
    color: white;
}

/* id */
/* media */
@media (max-width: 768px) {
  body {
    padding: 40px 0 0 0;
  }
 section {
   bbackground-color: pink;
   padding: 10px 0px 10px 0px;
 }
 .hide_mobile{
         display:none;
       }
.show_mobile {
display: block;
}
.show_mobile img{
         max-width: 30%;
       }
.hide_mobile img{
         max-width: 30%;
       }
       .align-middle {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  body {
    padding: 40px 0 0 0;
  }
 section {
   bbackground-color: red;
   padding: 30px 0px 30px 0px;
 }
 img#logo_vid{
          max-width: 47%;
        }
 .collapse {
     display: none !important;
 }
 .hide_desktop{
         display:none;
       }
       .align-middle {
           height: 40vh;
           display: flex;
           justify-content: center;
           align-items: center;
       }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    padding: 0px 0 0 0;
  }
  section {
    bbackground-color: green;
    padding: 3rem 0px 3rem 0px;
  }
  .align-middle {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    padding: 0 0 0 0;
  }
  section {
    bbackground-color: yellow;
    padding: 5rem 0px 5rem 0px;
  }
  .video-container img{
    max-width: 47%;
  }
  .align-middle {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
